Repository manga-download/haruneko, pull requests merged in 2024-11, with the labels that each got.

#837 [PDF] convert JPEG non compatible with jsPDF by ourselves
  web/src/engine/exporters/PortableDocumentFormatExporter.ts
Labels: engine

#880 [github-workflow] update pull-request deployment
  .github/workflows/continuous-deployment.yml
  .github/workflows/pull-request-deploy.yml
Labels: Deploy PR

#164 Add LineWebtoon decorator and websites
  web/src/engine/websites/DongManManhua.ts
  web/src/engine/websites/DongManManhua.webp
  web/src/engine/websites/DongManManhua_e2e.ts
  web/src/engine/websites/LineWebtoon.ts
  web/src/engine/websites/LineWebtoon.webp
  web/src/engine/websites/LineWebtoonTranslate.ts
  web/src/engine/websites/LineWebtoonTranslate.webp
  web/src/engine/websites/LineWebtoonTranslate_e2e.ts
  web/src/engine/websites/LineWebtoon_e2e.ts
  web/src/engine/websites/_index.ts
  web/src/engine/websites/legacy/DongManManhua.ts
  web/src/engine/websites/legacy/LineWebtoonEN.ts
  web/src/engine/websites/legacy/LineWebtoonES.ts
  web/src/engine/websites/legacy/LineWebtoonFR.ts
  web/src/engine/websites/legacy/LineWebtoonFR.webp
  web/src/engine/websites/legacy/LineWebtoonID.ts
  web/src/engine/websites/legacy/LineWebtoonID.webp
  web/src/engine/websites/legacy/LineWebtoonTH.ts
  web/src/engine/websites/legacy/LineWebtoonTH.webp
  web/src/engine/websites/legacy/LineWebtoonTranslate.ts
  web/src/engine/websites/legacy/LineWebtoonTranslate.webp
  web/src/engine/websites/legacy/LineWebtoonZH.ts
  web/src/engine/websites/legacy/LineWebtoonZH.webp
  web/src/engine/websites/templates/LineWebtoonBase.ts
  web/src/engine/websites/templates/LineWebtoonBase_e2e.ts
Labels: connectors

#856 Replace jsPDF with PDFKit
  web/package.json
  web/src/engine/exporters/PortableDocumentFormatExporter.ts
Labels: Deploy PR
