Repository manga-download/haruneko, pull requests merged in 2025-01, with the labels that each got.

#921 Blacklist facebook comments plugin
  web/src/engine/platform/BloatGuard.ts
Labels: Engine

#954 Kakao : change api url
  web/src/engine/websites/Kakaopage.ts
  web/src/engine/websites/Kakaopage_e2e.ts
Labels: Website Change

#521 Add Bilibilimanhua
  web/src/engine/transformers/BookmarkConverter.ts
  web/src/engine/transformers/BookmarkConverter_test.ts
  web/src/engine/websites/BilibiliManhua.d.ts
  web/src/engine/websites/BilibiliManhua.js
  web/src/engine/websites/BilibiliManhua.webp
  web/src/engine/websites/BilibiliManhua_e2e.ts
  web/src/engine/websites/_index.ts
  web/src/engine/websites/legacy/BilibiliManhua.ts
Labels: Website Request

#959 [UI classic] Virtual list rework
  web/package.json
  web/src/frontend/classic/components/Media.svelte
  web/src/frontend/classic/components/MediaSelect.svelte
  web/src/frontend/classic/lib/VirtualList.svelte
Labels: Frontend (Classic)
