Repository manga-download/haruneko, pull requests merged in 2025-02, with the labels that each got.

#989 disable Chrome background throttling
  app/nw/scripts/build-app.mjs
  web/src/engine/platform/electron/RemoteBrowserWindow.ts
Labels: Enhancement, Engine

#990 Baozimh : fix getting pages
  web/src/engine/websites/Baozimh.ts
  web/src/engine/websites/Baozimh_e2e.ts
Labels: Website Change

#1015 Introduce Background Timers
  app/electron/src/Main.ts
  app/nw/scripts/build-app.mjs
  web/src/engine/BackgroundTimers.ts
  web/src/engine/BackgroundTimersWorker.ts
  web/src/engine/DownloadManager.ts
  web/src/engine/DownloadManager_test.ts
  web/src/engine/SettingsGlobal_e2e.ts
  web/src/engine/platform/FetchProviderCommon.ts
  web/src/engine/platform/nw/FetchProvider_test.ts
  web/src/engine/providers/BookmarkPlugin_test.ts
  web/src/engine/taskpool/DeferredTask.ts
  web/src/engine/taskpool/TaskPool.ts
  web/src/engine/taskpool/TaskPool_test.ts
  web/src/engine/websites/decorators/Common.ts
  web/src/engine/websites/decorators/WordPressMadara.ts
  web/vite.config.ts
  web/vitest.config.ts
  web/vitest.setup.ts
Labels: Deploy PR

#877 Mangalib : rewrite website
  web/src/engine/websites/MangaLib.ts
  web/src/engine/websites/MangaLib_e2e.ts
Labels: Website Change

#1030 Add: MangaUP! (Japan)
  web/src/engine/websites/MangaUpJapan.ts
  web/src/engine/websites/MangaUpJapan.webp
  web/src/engine/websites/MangaUpJapan_e2e.ts
  web/src/engine/websites/_index.ts
Labels: Deploy PR

#1027 Bilibili: update decryption
  web/src/engine/websites/BilibiliManhua.d.ts
  web/src/engine/websites/BilibiliManhua.js
Labels: Deploy PR
